.top-1x {

  margin-top: 3rem;

}

.top-3x {

  margin-top: 6rem;
}

.top-6x {

  margin-top: 9rem;
}

.bottom-1x {

  margin-bottom: 3rem;
}

.bottom-3x {

  margin-bottom: 6rem;
}

.bottom-6x {

  margin-bottom: 9rem;
}


.padding-1x {

  padding-top: 3rem;

}

.padding-3x {

  padding-top: 6rem;
}

.padding-6x {

  padding-top: 9rem;
}

.padding-bottom-1x {

  padding-bottom: 3rem;
}

.padding-bottom-3x {

  padding-bottom: 6rem;
}

.padding-bottom-6x {

  padding-bottom: 9rem;
}
